

<div class="container-fluid">
    <div class="container-fluid" style="">
          <div class="page-header">
              <div class="jumbotron">
                  <h1>Welcome to 218 Restaurant</h1>
                  <h2>Authentic Chinese Food</h2>
                  <h2>At the heart of Chinatown</h2>
              </jumbotron>
          </div>
    </div>
</div>
