html, body {
  height: 100%;
}
body {
  padding: 50px 0 0 0;
}

.navmenu {
  padding-top: 50px;
  
}

.navbar {
  display: block;
  text-align: center;
}
.navbar-brand {
  display: inline-block;
  float: none;
}
.navbar-toggle {
  position: absolute;
  float: left;
  margin-left: 15px;
}

.container {
  max-width: 100%;
}
.list-group-item {
	width: auto;
	background: rgba(0,0,0,0.1);
}
.red .active a,
.red .active a:hover {
	font-size: 25px;
	font-weight: bold;
    background:rgba(0,0,0,0.2) !important;
}
.red {
	font-size: 18px;
}
.red li:hover a{
	/* font-size: 18px; */
	font-style: italic;
    background-color: red !important;
}
@media (min-width: 1px) {
  .navbar-toggle {
    display: block !important;
  }
}

@media (min-width: 992px) {
  body {
    padding: 0 0 0 300px;
  }
  .navmenu {
    padding-top: 15px;
	background: repeat top/100% url("http://i.imgur.com/4f8yKJI.png");
  }
  .navbar {
    display: none !important; /* IE8 fix */
  }
}