<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>218 Restaurant</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <%= csrf_meta_tags %>
  <style>

  	.pintest{
  		color: black;

  	}
	.address{
	    width: 100%; 
		height: 100%;
		margin: 0px;  
		font-size: 15px;
		background-color: rgb(0,0,0,.5); 
		padding: 0px;
		margin-top: 300px;
	}
	table { 
		border-spacing: 100px;
		border-collapse: separate;
	}
	
	.menu {
		-webkit-column-count: 3; 
		-moz-column-count: 3; 
		column-count: 3;

		-webkit-column-gap: 40px; 
		-moz-column-gap: 40px; 
		column-gap: 40px;
	}

	li {
	  padding: 10px 20px;
	  
	}
	p {   
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	}
	body {

	}
	.container, .navbar {
		background: repeat top/100% url("http://i.imgur.com/4f8yKJI.png");

	}
	.navbar-brand,
	.navbar-nav li a {
	    line-height: 75px;
	    height: 75px;
	    padding-top: 0;
	}
	.nav.navbar-nav li a {
	    color: white;
	    font-size:20px;
	    font-style:bold;
	}
	
  </style>
</head>
<body>


<!-- <div>
    <nav class="container-fluid navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">

          <a class="navbar-brand" href="#"><h1 style="color:white;">迎旺</h1></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="home">Home</a></li>
            <li><a href="menu">Menu</a></li>
            <li><a href="#contact">Specialties</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>


        </div>
      </div>
    </nav>
</div>
 -->

<!--     <div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm">
      <a class="navmenu-brand visible-md visible-lg" href="#">迎 218 旺</a>
      <ul class="nav navmenu-nav">
        <li class="active"><a href="./">Slide in</a></li>
        <li><a href="../navmenu-push/">Push</a></li>
        <li><a href="../navmenu-reveal/">Reveal</a></li>
        <li><a href="../navbar-offcanvas/">Off canvas navbar</a></li>
      </ul>
      <ul class="nav navmenu-nav">
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu navmenu-nav">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="navbar navbar-default navbar-fixed-top hidden-md hidden-lg">
      <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Project name</a>
    </div>
 -->



<div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm">
      <a class="navmenu-brand visible-md visible-lg" href="#"><font face="verdana" size="7" color="white">迎 218 旺</font></a>
	  <a class="navmenu-brand visible-md visible-lg" href="#"><font face="verdana" size="9" color="white">Restaurant</font></a>

	  <hr><br>
		  <center>
		  <div class="menu-bar">
			<ul class="nav nav-pills nav-stacked red">
			  <li role="presentation" class="active"><a href="home">Home</a></li>
			  <li role="presentation" class ="active"><a href="menu">Full Menu</a></li>
			  <li role="presentation" class ="active"><a href="specialties">Specialties</a></li>
			</ul>


			<div class="address">
				<p>218 Grand Street</p>
				<p>New York, NY 10013</p>
				<p>Tel: 212-226-8039</p>
			</div>
		  </div>
		  
		  </center>
	 
</div>
 


<%= yield %>

</body>
</html>
