<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>218 Restaurant</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <%= csrf_meta_tags %>
  <style>
  	.pintest{
  		color: black;

  	}
	.address{
	    width: 100%; 
		height: 100%;
		margin: 0px;  
		font-size: 15px;
		background-color: rgb(0,0,0,.5); 
		padding: 0px;
		margin-top: 300px;
	}
	table { 
		border-spacing: 100px;
		border-collapse: separate;
	}
	
	.menu {
		-webkit-column-count: 3; /* Chrome, Safari, Opera */
		-moz-column-count: 3; /* Firefox */
		column-count: 3;

		-webkit-column-gap: 40px; /* Chrome, Safari, Opera */
		-moz-column-gap: 40px; /* Firefox */
		column-gap: 40px;
	}
  </style>
</head>
<body>
    <div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm">
      <a class="navmenu-brand visible-md visible-lg" href="#"><font face="verdana" size="7" color="white">迎 218 旺</font></a>
	  <a class="navmenu-brand visible-md visible-lg" href="#"><font face="verdana" size="9" color="white">Restaurant</font></a>

	  <hr><br>
		  <center>
		  <div class="menu-bar" data-example-id="simple-nav-stacked">
			<ul class="nav nav-pills nav-stacked red">
			  <li role="presentation" class="active"><a href="#">Menu</a></li>
			  <li role="presentation"><a href="#">Lunch</a></li>
			  <li role="presentation"><a href="#">Dinner</a></li>
			</ul>
			<div id="toc" class="toc">
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Life_and_career"><span class="tocnumber">1</span> <span class="toctext">Life and career</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Personal_life"><span class="tocnumber">2</span> <span class="toctext">Personal life</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#Discography"><span class="tocnumber">3</span> <span class="toctext">Discography</span></a>
<ul>
<li class="toclevel-2 tocsection-4"><a href="#Studio_albums"><span class="tocnumber">3.1</span> <span class="toctext">Studio albums</span></a></li>
<li class="toclevel-2 tocsection-5"><a href="#Singles"><span class="tocnumber">3.2</span> <span class="toctext">Singles</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-6"><a href="#Selected_filmography"><span class="tocnumber">4</span> <span class="toctext">Selected filmography</span></a></li>
<li class="toclevel-1 tocsection-7"><a href="#See_also"><span class="tocnumber">5</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-8"><a href="#References"><span class="tocnumber">6</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-9"><a href="#External_links"><span class="tocnumber">7</span> <span class="toctext">External links</span></a></li>
</ul>
</div>

			<div class="address">
				<p>218 Grand Street</p>
				<p>New York, NY 10013</p>
				<p>Tel: 212-226-8039</p>
			</div>
		  </div>
		  
		  <center>
	 </a>
    </div>


<%= yield %>

</body>
</html>
